apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-app-deployment
spec:
  selector:
    matchLabels:
      app: java-app
  replicas: 2
  template:
    metadata:
      labels:
        app: java-app
    spec:
      containers:
        - name: java-app
          image: renanafs/java-sample-app:fbfa859685854fedb8e4d720f6076f0b277f5c3f
          ports:
            - containerPort: 8080