apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-app-deployment
spec:
  selector:
    matchLabels:
      app: java-app
  replicas: 2
  template:
    metadata:
      labels:
        app: java-app
    spec:
      containers:
        - name: java-app
          image: renanafs/java-sample-app:497fabc50a6cbc2532ad3c8148da6cc9026e1872
          ports:
            - containerPort: 8080